- provide(:title, 'ADMIN: All users')
  %h1 ADMIN: All users
  %ul.users
    - @users.each do |user|    
      %li
        = link_to user.name, user
        | #{link_to "delete", user, method: :delete, data: { confirm: "You sure?" }}