- provide(:title, 'Sign up')
%h1 Registration
.row
  .span6.offset3
    = simple_form_for(@user) do |f|
      = render 'form', f: f
      = f.submit "Registration", class: "btn btn-large btn-primary"
