- provide(:title, 'Profile | #{@user.name}')

.row
  %aside.span4
    %section
      %h2
        User is #{@user.name}
  .span8
    - if @user.bets.any?
      %h3
        Bets: (#{@user.bets.count})
      %h4
        %ol.bets= render @bets
