- provide(:title, 'Add event')
%h1 Add event
.row
  .col-md-6.col-md-offset-3
    = simple_form_for(@event) do |f|
      = render 'event_form', f: f
      = f.submit "Add", class: "btn btn-default btn-primary"

    %br/
    %br/
    = link_to '< back to home', "/", class: 'btn btn-default btn-info'
