%span.label Name event:
.row-fluid
  .span4
    %button.btn.btn-inverse{type: "button"} First win
  .span4
    %button.btn.btn-inverse{type: "button"} Drawn bet
  .span4
    %button.btn.btn-inverse{type: "button"} Second win
